body {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: 100vh;
}

.sunny {
    fill: #0a0a0a;
}

.cloudy {
    fill: #0a0a0a;
}

.attention {
    fill: #0a0a0a;
}

.rainbow {
    fill: #0a0a0a;
}